:root {
    --brand: #ffd900;
    --text-strong: #2f2904;
    --text-weak: #595226;
    --stroke-strong: #6e6635;
    --stroke-weak: #a3a08f;
    --fill: #b6b5af;
}

body {
    overflow: auto;

}

main {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-bottom: 2em;
}

main img {
    position: absolute;
    right: 5em;
    top: 5em;
    display: block;
    margin-bottom: 8px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid;
}

main h1 {
    margin: 2em;
    text-align: center;
    color: var(--text-strong);
}

.sections section,
.sections video {
    margin: 1em;
    width: 80%;

}

.sections section h2 {
    margin-bottom: .5em;
}

main .sections .skills ul {
    list-style: none;
}

main .sections .skills .languages {
    font-weight: bold;

}

main .btn {
    background-color: gold;
    color: var(--text-strong);
    padding: 1em 2em;
    border-radius: .5em;
    border: 1px solid var(--stroke-strong);
    text-decoration: none;
    width: 10em;
    margin: auto;
    cursor: pointer;
}

main .btn:hover {
    background-color: hsl(51, 100%, 60%);
    color: hsl(52, 90%, 5%);
}

main img {
    position: absolute;
    top: 6em;
    right: 2em;
    margin: 1em;
}

@media screen and (min-width: 992px),
screen and (min-width: 728px) and (orientation: landscape) {
    .sections {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}