main img {
    float: right;
    display: block;
    margin-bottom: 8px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid;
}
main{
    width: 80%;
    margin: auto;
}

main section {
    position: absolute;
    width: 60%;
    top: 10em;
}
main h1 {
    margin-bottom: 16px;
}
main p {
    font-size: 1em;
    line-height: 120%;
}
@media screen and (min-width: 992px),
screen and (min-width: 728px) and (orientation: landscape) {
    main{
        width: 50%;
        margin: auto;
    }
    
}
