:root {
    --brand: #ffd900;
    --text-strong: #2f2904;
    --text-weak: #595226;
    --stroke-strong: #6e6635;
    --stroke-weak: #a3a08f;
    --fill: #b6b5af;
}

main {
    width: 80%;
    margin: auto;
}

main h1 {
    text-align: center;
    margin: 1em;
}

main section figure {
    width: 80%;
    text-align: center;
    margin: 1em;
    border: 1px solid var(--stroke-strong);
    height: auto;
    background-color: var(--fill);


}

main section figure img {
    max-width: 100%;

}

main section figure figcaption {
    text-align: center;
    width: 100%;
    padding: 2em;
}

main section figure figcaption h2 {
    margin-bottom: 1em;
}

main section figure figcaption .btn {
    background-color: gold;
    color: var(--text-strong);
    padding: 1em 2em;
    border-radius: .5em;
    border: 1px solid var(--stroke-strong);
    text-decoration: none;
    text-align: center;
    cursor: pointer;

}

main section figure figcaption .btn:hover {
    background-color: hsl(51, 100%, 60%);
    color: hsl(52, 90%, 5%);
}

@media screen and (min-width: 992px),
screen and (min-width: 728px) and (orientation: landscape) {
    main section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}