main{
    padding: 2em;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
main h1{
    margin: 1em;
}
main article{
    margin-bottom: 2em;
}
main  h1{
    display: block;
    margin: auto;
    
}
main article h2{
    font-size: 1.2em;
}
main .btn{
    display: block;
    width: 200px;
    margin: auto;
    background-color: gold;
    padding: 1em 2em;
    border-radius: .5em;
    text-decoration: none;
    text-align: center;
   
}
@media screen and (min-width: 992px),
screen and (min-width: 728px) and (orientation: landscape) {
    main section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3em;
    }
}